@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
    
body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
    background-color: #ece7e7d7;
}

/* Navbar CSS */
.navbar-brand{
    padding: 1.15rem 1.5rem;

}
a{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.nav-link{
    font-weight: 400;
}

/* Sidebar CSS */
li{
    list-style: none;
}
/* Layout for admin dashboard skeleton */
 .wrapper{
    align-items:stretch;
    display: flex;
    width:100%;
}
#sidebar{
    max-width:264px;
    min-width: 264px;
    background-color: #f2f3fc;
    transition:all 0.35s ease-in-out;
}
#sidebar.collapsed{
    margin-left:-264px; 
}
.sidebar-nav{
    padding: 0;
}
a.sidebar-link{
    padding: .625rem 1.625rem;
    color:grey;
    position:relative;
    display: block;
    font-size: 1rem;
}
.sidebar-content{
    font-size: small;
    margin-left: 10px;
}

/* Main CSS */
.main{
    margin-left: 15px;
    background-color: #eff0f7;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}
.search{
    border: 1px solid rgb(190, 187, 187);
    border-radius: 5px;
    padding: 4px;
    color: rgb(160, 157, 157);
    background-color: #f4f4f7;
    margin-bottom: 40px;
}
.buttons:hover{
    cursor: pointer;
}
.data .box1{
    border: 1px solid rgb(212, 209, 209);
    padding: 10px;
    background-color: #f4f4f7;
    border-radius: 5px;


}

/* forms */
 /* Styling the container box */
 .checkbox-box {
    border: 1px solid #dad5d5;  /* Border around the box */
    padding: 10px;  /* Space inside the box */
    /* width: 200px;  Width of the box */
    /* margin: 20px;  Margin outside the box */
}

/* Optional: Styling each label */
label {
    display: block;  /* Makes each label take a new line */
    margin-bottom: 10px;  /* Space between labels */
}
.checkbox-box .box-icon{
    margin-left: 200px;
}

/* Pagignation */
.pagination {
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 120px 30px 20px 30px;
  }
  
  .pagination a {
    color: rgb(10, 10, 10);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgb(250, 244, 244);
  }
  
  .pagination a.active {
    background-color: blue;
    color: white;
    border-radius: 50%;
  }
